{% extends "index.html" %}

{% block content %}
<div class="main-panel">
    <div class="weather-image">
        <img class="image-w" src="{{image}}" alt="">
    </div>
    <div class="main-information">
        <div class="maxTemp-location">
            <h1 class="maxTemp">{{maxTemp}}°</h1>
            <svg width="2" height="116" viewBox="0 0 2 116" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 0V115.5" stroke="url(#paint0_linear_12_5)"/>
                <defs>
                <linearGradient id="paint0_linear_12_5" x1="1.5" y1="0" x2="1.5" y2="116" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" stop-opacity="0.5"/>
                <stop offset="0.327586" stop-color="white"/>
                <stop offset="0.604" stop-color="white"/>
                <stop offset="1" stop-color="white" stop-opacity="0.5"/>
                </linearGradient>
                </defs>
                </svg>
            <h1 class="locat"><svg class="locImg" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M24.5 11.6667C24.5 19.8333 14 26.8333 14 26.8333C14 26.8333 3.5 19.8333 3.5 11.6667C3.5 8.88189 4.60625 6.21118 6.57538 4.24204C8.54451 2.27291 11.2152 1.16667 14 1.16667C16.7848 1.16667 19.4555 2.27291 21.4246 4.24204C23.3938 6.21118 24.5 8.88189 24.5 11.6667Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M14 15.1667C15.933 15.1667 17.5 13.5997 17.5 11.6667C17.5 9.73367 15.933 8.16667 14 8.16667C12.067 8.16667 10.5 9.73367 10.5 11.6667C10.5 13.5997 12.067 15.1667 14 15.1667Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                 {{city}}</h1>   
        </div>
        <div class="other-inform">
            <div class="wind">
                <div class="logo-wind">
                    <h2 class="wind-name">Ветер</h2>
                </div>
                <div class="wind-speed">
                    <h1 class="wind-sp">{{wind_speed}} м/c</h1>
                </div>
            </div>
            <div class="pression">
                <div class="logo-pression">
                    <h2 class="pression-name">Давление</h2>
                </div>
                <div class="pression-level">
                    <h1 class="pression-lvl">{{pression}} мм рт. ст.</h1>
                </div>
            </div>
            <div class="humidity">
                <div class="logo-humidity">
                    <h2 class="humidity-name">Влажность</h2>
                </div>
                <div class="humidity-level">
                    <h1 class="humidity-lvl">{{humidity}}%</h1>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}